<div class="container">
  <h1>Podcast List
    <a [routerLink]="['/podcast-create']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let podcast of podcasts">
        <td>{{ podcast.title }}</td>
        <td>{{ podcast.author }}</td>
        <td><a [routerLink]="['/podcast-details', podcast._id]">Show Detail</a></td>
      </tr>
    </tbody>
  </table>
</div>
