<div class="container">
  <h1>Edit Podcast</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="updatePodcast(podcast._id)" #podcastForm="ngForm">       
        <div class="form-group">
          <label for="name">Title</label>
          <input type="text" class="form-control" [(ngModel)]="podcast.title" name="title" required>
        </div>
        <div class="form-group">
          <label for="name">Description</label>
          <textarea type="text" class="form-control" [(ngModel)]="podcast.desc" name="desc" required></textarea>
        </div>
        <div class="form-group">
          <label for="name">Audio URL</label>
          <input type="text" class="form-control" [(ngModel)]="podcast.audioUrl" name="audioUrl" required>
        </div>
        <div class="form-group">
          <label for="name">Audio Type</label>
          <input type="text" class="form-control" [(ngModel)]="podcast.audioType" name="audioType" required>
        </div>
        <div class="form-group">
          <label for="name">Publish Date</label>
          <input type="text" class="form-control" [(ngModel)]="podcast.pubDate" name="pubDate" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!podcastForm.form.valid">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
