<div class="container">
  <h1>{{ podcast.title }}</h1>
  <dl class="list">
    <dt>Description</dt>
    <dd>{{ podcast.desc }}</dd>
    <dt>Audio URL</dt>
    <dd>{{ podcast.audioUrl }}</dd>
    <dt>Audio Type</dt>
    <dd>{{ podcast.audioType }}</dd>
    <dt>Published Date</dt>
    <dd>{{ podcast.pubDate }}</dd>
    <dt>Update Date</dt>
    <dd>{{ podcast.updated_date | date:'short' }}</dd>
  </dl>
</div>
<div class="row">
  <div class="col-md-12">
    <a [routerLink]="['/podcast-edit', podcast._id]" class="btn btn-success">EDIT</a>
    <button class="btn btn-danger" type="button" (click)="deletePodcast(podcast._id)">DELETE</button>
  </div>
</div>
